@charset "UTF-8";

table {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(200, 200, 200);

}

th {
    font-size: 22px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(220, 220, 220);
}

td {
    font-size: 22px;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(230, 230, 230);
}

td.mountpoints_ip {
    text-align: center;
    width: 150px;
}

td.mountpoints_agent {
    text-align: left;
    font-family: monospace;
    font-size: 12px;
}

td.mountpoints_start {
    text-align: center;
    width: 100px;
}

td.mountpoints_stop {
    text-align: center;
    width: 100px;
}

td.mountpoints_duration {
    text-align: center;
    width: 80px;
}

td span.yearsmall {
    font-size: 18px;
}
